.dash-loader{
    text-align: center;
    padding: 12% 0;
    h1{
        font-size: 25px;
    }
    i{
        font-size: 30px;
        margin: 20px 0;
    }
    p{
        font-size: 14px;
        color: #666;
    }
}