@import 'constant';

.operator-vehicle-list{
    clear: both;
    padding-bottom: 10px;
    table{
        border-top: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;
        background: #f9f9f9;
         @media #{$mobile_portrait}{
             width: 100%;
         }
        th{
            background: #E9E9E9
        }
        th,td{
            padding:8px;
            border-bottom: 1px solid #d5d5d5;
            border-left: 1px solid #d5d5d5;
        }
    }
}

.operator-vehicle{
	padding-bottom:10px;
	input{
		width:93px;
		display:inline-block;
		vertical-align:top;
		text-transform:uppercase;
	}
}