@import 'constant';

.request-flow{
    background: #E5E5E5;
    margin-bottom: 20px;
    ul{
        overflow: hidden;
        li{
            float: left;
            width:50%;
            text-align: center;
            padding: 5px 0;
            font-weight: bold;
            font-size: 15px;
            position: relative;
             @media #{$mobile_portrait}{
                font-size: 11px;
            }
            @media #{$mobile_landscape}{
                font-size: 12px;
            }
            &.active{
                background: $green_color;
                color: $white-color;
                &:first-child:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -32px;
                    width: 0;
                    height: 0;
                    border: 16px solid transparent;
                    border-color: transparent transparent transparent $green_color;
                }
                &:last-child:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left:0;
                    width: 0;
                    height: 0;
                    border: 16px solid transparent;
                    border-color: transparent transparent transparent #E5E5E5;                    
                }
            }            
        }
    }
}

/*New Request*/
.new-request{
     .btn{
         &.calc-btn{
            @media #{$desktop}{
                margin-top:20px;
            }
            @media #{$tablet_landscape}{
                margin-top:20px;
            }
        }
    }
}

/*Trip Calculation*/
div.trip-calculation{
    clear: both; 
    text-align: right; 
    overflow: hidden;
    .btn{
        width: 125px;
    }
    .calc-data{
        overflow: hidden;
    }
    table{
        float: right;
        margin: 10px 0;
        td{
            font-weight: bold;
            padding-left:10px;
            i{
                vertical-align: middle;
            }
        }
    }
}