<div class="grid-widget">
    <div class="grid-title">
        <h3 class="pull-left">Vehicle Summary for {{year}}</h3>
        <div class="pull-right">
            <form name="vehicleReport" class="form-inline">
                <div class="form-group">
                    <select class="form-control" data-ng-model="vehicleSelect">
                        <option data-ng-repeat="v in vehicleList">{{v.vehicleName}},{{v.vehicleNo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" data-ng-model="year">
                        <option data-ng-repeat="y in yearList">{{y}}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary" data-ng-click="redrawGraph()">Go</button>
            </form>
        </div>
    </div>
    <div class="chart-data">
        <div class="row">
            <div class="col-md-6">
                <div class="widget">
                    <div class="widget-header">
                        <div class="pull-left">
                            <i class="fa fa-database"></i>
                            Profit
                        </div>
                        <div class="pull-right"></div>                
                    </div>
                    <div class="widget-content">
                        <canvas id="income"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget">
                    <div class="widget-header">
                        <div class="pull-left">
                            <i class="fa fa-money"></i>
                            Expense
                        </div>
                        <div class="pull-right"></div>                
                    </div>
                    <div class="widget-content">
                        <canvas id="expense"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="widget">
                    <div class="widget-header">
                        <div class="pull-left">
                            <i class="fa fa-bar-chart"></i>
                            Local Request
                        </div>
                        <div class="pull-right"></div>                
                    </div>
                    <div class="widget-content">
                        <canvas id="local"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget">
                    <div class="widget-header">
                        <div class="pull-left">
                            <i class="fa fa-bar-chart"></i>
                            Out Station Request
                        </div>
                        <div class="pull-right"></div>                
                    </div>
                    <div class="widget-content">
                        <canvas id="out"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
