<div class="widget">
  <div class="widget-header">
    <div class="pull-left">Delete Confirmation</div>
    <div class="pull-right">
        	<span class="modal-close" data-ng-click="closeModal()">
            	<i class="fa fa-close"></i>
            </span>
    </div>
  </div>
  <div class="widget-content notification">
    <span class="text-center">Do you want to delete the record ?</span>
    <p>
      <button type="button" data-ng-click="onConfirm()" class="btn btn-primary">Yes</button>
      <button type="button" data-ng-click="closeModal()" class="btn btn-danger">No</button>
    </p>
  </div>
</div>
