<div class="widget">
	<div class="widget-header">
    	<div class="pull-left">Vehicle Expense</div>
        <div class="pull-right">
        	<span class="modal-close" data-ng-click="closeModal()">
            	<i class="fa fa-close"></i>
            </span>
        </div>
    </div>
    <div class="widget-content">
		<form name="driverForm" novalidate>
			<div class="row">
				<div class="col-md-3">
                    <div class="form-group">
                        <label>Date</label>
                        <span data-ng-if="hideView" class="view-value" data-ng-bind="expense.date"></span>
                        <p data-ng-if="!hideView" class="input-group">
						  <input type="text" class="form-control" ng-model="expense.date" show-button-bar="false" show-weeks="false" uib-datepicker-popup="dd-MMM-yyyy" readonly is-open="calendar.open" ng-required="true" close-text="Close" />
						  <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
						  </span>
						</p>
                    </div>
                </div>
				<div class="col-md-3">
                    <div class="form-group">
                        <label>Expense Type</label>
                        <span data-ng-if="hideView" class="view-value" data-ng-bind="expense.expenseName"></span>
						<select data-ng-if="!hideView" class="form-control" data-ng-model='expense.expenseName'>
							<option value="">Select Type</option>
							<option value="fuel">Fuel</option>
							<option value="maintenance">Maintenance</option>
							<option value="other">Other</option>
						</select>
                    </div>
                </div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Vehicle</label>
                        <span data-ng-if="hideView" class="view-value" data-ng-bind="expense.vehicle"></span>
						<select data-ng-if="!hideView" class="form-control" data-ng-model="expense.vehicle">
							<option value="">Select Vehicle</option>
							<option data-ng-repeat="v in vehicleList">{{v.vehicleName}} {{v.vehicleNo}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Payment Mode</label>
                        <span data-ng-if="hideView" class="view-value" data-ng-bind="expense.paymentMode"></span>
						<div class="btn-group btn-group-sm">
						  <button data-ng-class="{active:expense.paymentMode=='cash'}" class="btn btn-default" data-ng-click='expense.paymentMode="cash"'>Cash</button>
						  <button data-ng-class="{active:expense.paymentMode=='credit'}" class="btn btn-default" data-ng-click='expense.paymentMode="credit"'>Credit</button>
						  <button data-ng-class="{active:expense.paymentMode=='cheque'}" class="btn btn-default" data-ng-click='expense.paymentMode="cheque"'>Cheque</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label>Location</label>
                        <span data-ng-if="hideView" class="view-value" data-ng-bind="expense.location"></span>
						<input data-ng-if="!hideView" class="form-control" type="text" data-ng-model='expense.location'/>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Expense Amount</label>
                        <span data-ng-if="hideView" class="view-value" data-ng-bind="expense.expenseAmt"></span>
						<input data-ng-if="!hideView" class="form-control" type="number" data-ng-model='expense.expenseAmt'/>
					</div>
				</div>
				<div class="col-md-3" data-ng-if='expense.expenseName=="fuel"'>
                    <div class="form-group">
                        <label>Fuel Rate</label>
                        <span data-ng-if="hideView" class="view-value" data-ng-bind="expense.fuelRate"></span>
						<input data-ng-if="!hideView" class="form-control" type="number" data-ng-model='expense.fuelRate'/>
                    </div>
                </div>
				<div class="col-md-3" data-ng-if='expense.expenseName=="fuel"'>
                    <div class="form-group">
                        <label>Current KM</label>
                        <span data-ng-if="hideView" class="view-value" data-ng-bind="expense.currKm"></span>
                        <input data-ng-if="!hideView" class="form-control" type="number" data-ng-model='expense.currKm'/>
                    </div>
                </div>
			</div>
			<div class="row">
				<div class="col-md-3" data-ng-if="expense.paymentMode=='credit'">
					<div class="form-group">
						<label>Credit Card Number</label>
                        <span data-ng-if="hideView" class="view-value" data-ng-bind="expense.credit.cardName"></span>
						<input data-ng-if="!hideView" class="form-control" type="number" data-ng-model='expense.credit.cardName'/>
					</div>
				</div>
				<div class="col-md-3" data-ng-if="expense.paymentMode=='cheque'">
					<div class="form-group">
						<label>Bank Name</label>
                        <span data-ng-if="hideView" class="view-value" data-ng-bind="expense.cheque.bankName"></span>
						<input data-ng-if="!hideView" class="form-control" data-ng-model='expense.cheque.bankName'/>
					</div>
				</div>
				<div class="col-md-3">
                    <div class="form-group">
                        <label>Comments</label>
                        <span data-ng-if="hideView" class="view-value" data-ng-bind="expense.comments"></span>
                        <textarea data-ng-if="!hideView" required type="number" class="form-control" data-ng-model='expense.comments'></textarea>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger pull-left" data-ng-click="closeModal()">Close</button>
				<button data-ng-if="action!=='view'" class="btn btn-success pull-right" data-ng-disabled="!driverForm.$dirty || !driverForm.$valid || loading" data-ng-click="submitRequest()">{{loading?"Please Wait...":"Submit"}}</button>
            </div>
		</form>
	</div>
<div>